<div class="side_top">
  <div class="user_name">
  <a href="#">Match</a>
  </div>
  <div class="new_chat">
  <a href="#"> チャットを作成する </a>
  </div>
</div>
<div class="side_bottom">
  <div class="room">
    <a href="#">techroom1</a>
  </div>
  <div class="room">
    <a href="#">techroom2</a>
  </div>
</div>